/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
}
.route-wrapper {
  margin-top: 2rem;
}
button:active,
input:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.design {
  margin: 1rems;
}
a,
Link {
  text-decoration: none;
  color: #ff8a00;
}
button:hover {
  cursor: pointer;
}

/*************
 * SCROLLBAR *
 *************/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main-bg {
  background-image: url(../src/assets/Signup.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
}

@media only screen and (max-width: 768px) {
  .main-bg {
    background-image: url(../src/assets/Signup2.png);
    background-position: center;
  }
}

.lead {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
  text-align: center;
}
.other-option {
  margin: 10px auto;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input,
.form-group select,
.form-group textarea,
.form-text {
  background: #333333;
  border: none;
  border-radius: 8px;
  padding: 0.7rem;
  font-family: "Raleway", sans-serif;
  outline: none;
  color: #fff;
  margin: 0.5rem;
  letter-spacing: 1px;
}
.form-group select option {
  height: 2rem;
}
.form-text {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 0.4rem;
}
.form-btn {
  padding: 0.7rem;
  font-family: "Raleway", sans-serif;
  outline: none;
  color: #fff;
  margin: 0.5rem 0;
  letter-spacing: 1px;
}
/* #btn-register {
  width: 100%;
} */

/**********
 * ALERTS *
 **********/
.alert-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.alert-wrapper {
  display: flex;
  width: 300px;
  min-width: 300px;
  justify-content: flex-start;
  z-index: 2;
  position: absolute;
  top: 5rem;
  overflow: hidden;
  border-radius: 10px;
  /* box-shadow: 0px 0 10px var(--danger-color); */
  background: transparent;
}

.alert {
  width: 300px;
  padding: 2px 5px;
  min-width: 300px;
  /* margin: 1rem 0; */
  opacity: 0.95;
  background: var(--light-color);
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

/**********
 * LOADER *
 **********/
.loader-wrapper {
  margin: 0 auto;
  text-align: center;
}
.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #ff8a00;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* github modal  */
.github-modal-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(14, 14, 14, 0.5);
  backdrop-filter: blur(2px);
  top: 0;
  z-index: 5;
}
.github-modal {
  background-color: #333333;
  padding: 1rem;
  color: black;
  z-index: 5;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 0.5rem;
}
.github-modal h2 {
  width: 100%;
  text-align: center;
  color: #e2e2e2;
}
.github-modal p {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  color: #e2e2e2;
}
.github-btn-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
.github-modal a {
  color: #000;
  font-weight: 600;
  background-color: #ff8a00;
}
.github-btn {
  width: 40%;
  padding: 7px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #7a7a7a;
  border: none;
  font-family: "Raleway", sans-serif;
}
.form-show-pass {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}
.form-show-pass input[type="checkbox"] {
  width: 15px;
  color: #818181;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page-head {
  margin-top: 0;
}
/*********************
 * AFTER LOGIN PAGES *
 *********************/
.main {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

/******************
 * CREATE PROFILE *
 ******************/
.form-wrapper {
  width: 60%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.social-box {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social-box button {
  font-size: 1rem;
  margin-right: 1rem;
}
.social-input {
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.social-input input {
  width: 40%;
  min-width: 280px;
}
.fa-linkedin {
  color: #0e76a8;
}
.fa-twitter {
  color: #08a0e9;
}
.fa-facebook {
  color: #3b5998;
}
.fa-youtube {
  color: #ff0000;
}
.fa-instagram {
  color: #e1306c;
}
#submit-btn {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
/**********
 * VECTOR *
 **********/

.vector {
  position: absolute;
  z-index: -2;
  margin-left: -1rem;
  margin-top: -2rem;
}

.no-data {
  display: flex;
  width: 100%;
  justify-content: center;
}
.no-data img {
  width: 13rem;
  height: 15rem;
}

/**********
 * FOOTER *
 **********/
.foot-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #151515;
  height: 20px;
  padding: 1rem 0;
  letter-spacing: 1px;
  color: #757575;
}
.footer:hover {
  color: #999999;
}

/****************
 * WRITE STYLES *
 ****************/
.page-head {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}
.writeForm {
  display: flex;
  justify-content: space-evenly;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}
.publish-buttons {
  margin: 1rem 0;
}

#poster {
  margin: 0 1rem;
  padding: 0.4rem 0;
}
#publish {
  padding: 0.6rem 1rem;
  margin: 0 1rem;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 55%;
}
.writeFormGroup {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-wrapper {
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}
.writeImg {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.writeTitle {
  width: 100%;
  text-align: center;
  padding: 7px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.clr-draft {
  color: #ff8a00;
  color: #ff3c3c;
  background-color: transparent;
  border: none;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  font-size: 1.2rem;
}
.draft-note {
  width: 95%;
  letter-spacing: 2px;
  font-size: 1rem;
}

@media only screen and (max-width: 963px) {
  .writeForm {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 90%;
  }
  .right {
    width: 90%;
  }
  .img-wrapper {
    margin: 2rem 0;
  }
}
@media only screen and (max-width: 430px) {
  .publish-buttons {
    flex-direction: column;
    margin: 0;
  }
  #poster {
    margin: 1rem;
  }
  #publish {
    margin: 1rem;
  }
  .img-wrapper {
    height: 200px;
    margin: 0;
  }
  .github-modal {
    width: 300px;
  }
  .github-btn-container {
    flex-direction: column;
    align-items: center;
  }
  .github-btn {
    width: 60%;
    text-align: center;
    margin: 0.5rem 0;
  }
}
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 85%;
}
.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  justify-items: center;
  width: 100%;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  box-sizing: border-box;
  background-color: #1c1f26;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #5a4f4f;
}
.post:hover {
  border: 1px solid #958585;
}
.poster {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
}
.poster-img {
  border-radius: 15px;
  width: 100%;
}

.post-title {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 1rem 0;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.author-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8px;
}

.open-post {
  padding: 5px 2rem;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  color: #ff8a00;
  border: 2px solid #ff8a00;
  box-shadow: 0px 0px 5px #ff8a00, inset 0px 0px 5px #ff8a00;
  cursor: pointer;
  letter-spacing: 2px;
  text-align: center;
  max-width: 400px;
}
.open-post:hover {
  background-color: rgba(255, 136, 0, 0.237);
  font-weight: bold;
}
.post-bottom {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #696969;
  padding-top: 10px;
}

.like-section {
  width: 30%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.btn {
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}
.like {
  color: #00ddff;
}
.like:hover {
  background-color: rgba(22, 187, 212, 0.34);
  /* border: 1px solid var(--primary-color); */
}
.unlike {
  color: #ccc;
}

.delete-post {
  width: 100px;
  padding: 5px;
  font-size: 1rem;
}

.comment-length {
  font-size: 1.2rem;
  color: rgb(241, 86, 255);
  padding: 5px;
}
.comment-length:hover {
  background-color: rgba(241, 86, 255, 0.217);
  border-radius: 5px;
  cursor: pointer;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  border: 1px solid rgb(255, 0, 0);
  background-color: #ff4848;
  color: #fff;
  display: block;
  z-index: 3;
}
@media only screen and (max-width: 1250px) {
  .posts {
    width: 100%;
  }
}
@media only screen and (max-width: 1070px) {
  .posts-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .posts-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.post-top {
  /* width: 300px */
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
  margin-left: 2rem;
}
.author {
  text-transform: capitalize;
  font-size: 1.5rem;
}
.post-time {
  font-size: 14px;
}
.post-poster {
  max-height: 400px;
  overflow: hidden;
  margin: 1rem 0;
}
.poster-display {
  width: 70%;
  object-fit: cover;
  object-position: 0 -20px;
}
.post-head {
  font-size: 2rem;
  width: 70%;
}
.content-wrapper {
  width: 70%;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}
.content-wrapper p {
  font-size: 1.3rem;
}
.like-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.like-tab {
  display: flex;
  bottom: 5%;
  left: 30%;
  background-color: rgb(248, 248, 248);
  position: fixed;
  padding: 5px 1rem;
  min-width: 100px;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid rgb(62, 62, 62); */
  box-shadow: 0 0 2px rgb(112, 112, 112);
  border-radius: 40px;
  color: #0e76a8;
}
.like-tab > button:hover {
  background-color: transparent;
}
.like-tab > button:nth-child(1) {
  color: #0e76a8;
}
.like-tab > button:nth-child(2) {
  color: #686868;
}
.comment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid rgb(241, 86, 255);
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 2%;
  font-size: 1.5rem;
  background-color: rgb(29, 17, 31);
  color: rgb(241, 86, 255);
  cursor: pointer;
  z-index: 3;
}

.comment-container {
  /* width: 350px; */
  /* height: 70vh; */
  position: fixed;
  /* right: 7%; */
  /* padding: 1rem; */
  overflow: auto;
  /* top: 5rem; */
  background-color: #111112;
  border-radius: 5px;
  box-shadow: 0 0 2px #ccc;
}
.comment-head {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #272727;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  z-index: 2;
}
.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment-submit {
  padding: 7px 2rem;
  border-radius: 5px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: #a4a4a8;
  background-color: #25262b;
}
.comments {
  margin: 1rem;
}
.comment {
  background-color: #25262b;
  width: 90%;
  padding: 5px;
  margin: 1rem auto;
  border-radius: 10px 10px 0 10px;
  letter-spacing: 1px;
  border: 1px solid #474747;
}
.comment-delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #c1c2c5;
}
.no-comment {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 1px;
}
.full-screen {
  float: right;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  top: 20%;
  background-color: transparent;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.full-screen:hover {
  color: rgb(241, 86, 255);
  border: 1px solid rgb(241, 86, 255);
}
@media only screen and (max-width: 845px) {
  .content-wrapper {
    width: 98%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 400px) {
  .post-container {
    width: 100%;
  }
  .post-top {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 100%;
  }
  .author-img {
    margin-left: 2rem;
  }
  .post-head {
    width: 95%;
    margin: 0 auto;
  }

  .content-wrapper p {
    font-size: 1.1rem;
  }
  .content-wrapper img {
    height: 150px;
  }
  .like-tab {
    bottom: 10%;
  }
  .comment-btn {
    bottom: 2%;
    background-color: rgb(122, 122, 122);
    box-shadow: 0 0 5px rgb(112, 112, 112);
    color: #ffffff;
    border: none;
  }
}

.profiles {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 2rem auto;
}
.profiles-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 3rem;
  row-gap: 3rem;
}
.profile {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.profile-left {
  display: flex;
  align-items: center;
  width: 5rem;
  margin: 0 1rem;
}
.profile-right {
  width: 90%;
}
.profile-img {
  width: 100%;
  border-radius: 50%;
}
.profile-name {
  margin: 0;
  word-break: break-word;
}
.profile-company {
  margin: 0;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 1000px) {
  .profiles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .profiles-container {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
  .profile-right {
    width: 80%;
  }
}
.back-profile {
  color: #ccc;
  margin: 0 1rem;
}
.back-profile:hover {
  color: #fff;
}
.edit-profile {
  color: #ccc;
  margin: 0 1rem;
}
.edit-profile:hover {
  color: #fff;
}
.profile-single {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-top {
  display: flex;
  width: 80%;
  margin: 1rem 0;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}
.profile-img-wrap {
  width: 20vh;
}
.single-profile-name {
  margin: 0;
  text-transform: capitalize;
}
.single-profile-company {
  margin: 0;
  font-size: 1.5rem;
}
.single-profile-location {
  margin: 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.profile-icons {
  display: flex;
  width: 50%;
  justify-content: center;
}
.profile-icon {
  margin: 0 1rem;
}

.profile-bio {
  display: flex;
  width: 80%;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  /* margin: 1rem 0; */
  padding-bottom: 3rem;
}
.bio {
  width: 50%;
  border-right: 1px solid #ccc;
  padding: 0 2rem;
}
.bio h1 {
  text-transform: capitalize;
  margin: 5px 0;
  text-align: center;
}
.bio p {
  margin: 0;
  text-align: center;
}
/* .divider {
  height: 5rem;
  width: 3px;
  background-color: #fff;
} */
.skills {
  width: 40%;
}
.skills ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.skills h1 {
  text-align: left;
  width: 80%;
  margin: 5px 0;
  margin: 0 auto;
}
.skills ul li {
  margin: 1rem;
  text-transform: capitalize;
}
.profile-third {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  /* margin: 1rem 0; */
}
.no-cred {
  text-align: center;
  width: 100%;
}
.profile-education {
  width: 40%;
}
.profile-experience {
  width: 50%;
}
.head {
  width: 100%;
  text-transform: capitalize;
  text-align: center;
}
.profile-contents {
  width: 100%;
  letter-spacing: 1px;
}
.profile-contents b {
  color: #08a0e9;
}
.company,
.school {
  color: #ff8a00;
}
.profile-github {
  width: 80%;
  margin-bottom: 1rem;
}
.center {
  text-align: center;
}
.repos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.github-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#no-repo {
  margin: 0 auto;
}
.repo {
  background-color: #1c1f26;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.repo-content h4 {
  margin: 0;
}
.repo-stats {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.repo-stat {
  padding: 5px 1rem;
  background-color: #4e4e4e;
  border-radius: 5px;
}
@media only screen and (max-width: 1230px) {
  .repos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 995px) {
  .bio {
    width: 90%;
    border: none;
    margin-bottom: 3rem;
  }
  .skills {
    width: 90%;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 828px) {
  .profile-third {
    flex-direction: column;
  }
  .profile-experience,
  .profile-education {
    width: 100%;
  }
  .experience-container,
  .education-container {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .repos {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 730px) {
  .bio {
    padding-left: 1rem;
  }
  .skills {
    padding-left: 1rem;
  }
  .skills ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .profile-bio {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .experience-container,
  .education-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 400px) {
  .repo-stat {
    padding: 5px;
  }
  .bio p {
    font-size: 16px;
  }
  .profile-bio {
    flex-direction: column;
  }
  .skills h1 {
    text-align: center;
  }
  .skills li {
    padding-left: 2rem;
  }
}

.dashboard {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.dash-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-profile {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
}
.dash-profile img {
  height: 100%;
  border-radius: 50%;
}
.dash-buttons {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  margin: 1rem;
}
.dash-button {
  width: 30%;
  text-align: center;
  border: 1px solid #ff8800;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
}
.dash-button:hover {
  background-color: #ff880041;
}

.dash-center {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.profile-table {
  width: 100%;
}
.dash-table-head {
  text-align: center;
  /* color: #ff9d2c; */
}
.dash-table {
  border-collapse: collapse;
  width: 100%;
  min-width: fit-content;
  text-align: center;
}
.dash-table tbody tr:nth-child(odd) {
  background-color: #ffea0014;
}

.dash-table td,
th {
  padding: 15px 10px;
}
.dash-table th,
tbody {
  border-bottom: 1px solid #ff8a00;
  /* border-top: 1px solid #ff8a00; */
}
.no-content {
  text-align: center;
}

.post-title-cell {
  /* white-space: nowrap; */
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-control {
  padding: 7px;
  font-size: 0.9rem;
  border: none;
  background-color: #108091;
  color: #fff;
  border-radius: 5px;
}
.post-control:hover {
  box-shadow: 0px 0px 5px #108091;
}
.post-control a {
  color: #fff;
}
.post-delete {
  background-color: #b83b48;
}
.post-delete:hover {
  box-shadow: 0px 0px 5px #b83b48;
}
@media only screen and (max-width: 1040px) {
  .dash-center {
    flex-direction: column;
  }
  .profile-table {
    width: 100%;
  }
  .dash-table {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 965px) {
  .dash-buttons {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .dashboard {
    width: 95%;
  }
}
@media only screen and (max-width: 580px) {
  .dash-button {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 474px) {
  .dash-buttons {
    margin: 1rem 2px;
    justify-content: space-between;
  }
  .dash-button {
    padding: 3px;
  }
}

/****
COnfetti animation
 ****/

.popper,
.confetti {
  opacity: 0;
}

.popper {
  transform: scale(0.1);
  animation: popper 2s 1s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}

@keyframes popper {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  15% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  55% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.confetti {
  animation: confetti 1s 2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}

@keyframes confetti {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.stars__1 {
  transform: translate(-65px, 310px) rotate(232deg);
  animation: stars1 0.75s 2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}
.stars__2 {
  transform: translate(-105px, 110px) rotate(472deg);
  animation: stars2 0.65s 2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}
.stars__3 {
  transform: translate(-285px, 160px) rotate(180deg);
  animation: stars3 0.8s 2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}

@keyframes stars1 {
  0% {
    transform: translate(-65px, 310px) rotate(232deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes stars2 {
  0% {
    transform: translate(-105px, 110px) rotate(472deg);
  }
  100% {
    transform: translate(0, 0) rotate(30deg);
  }
}
@keyframes stars3 {
  0% {
    transform: translate(-285px, 160px) rotate(760deg);
  }
  100% {
    transform: translate(0, 0) rotate(90deg);
  }
}

.lines__1 {
  transform: translate(-40px, 170px) scale(0.15, 0.3) rotate(-173deg);
  animation: lines1 0.9s 2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}
.lines__2 {
  transform: translate(-250px, 200px) scale(0.5, 0.2) rotate(-355deg);
  animation: lines2 0.6s 2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}
.lines__3 {
  transform: translate(-160px, 20px) scale(0.21) rotate(300deg);
  animation: lines3 0.7s 2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}

@keyframes lines1 {
  0% {
    transform: translate(-40px, 170px) scale(0.15, 0.3) rotate(-173deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0);
  }
}
@keyframes lines2 {
  0% {
    transform: translate(-250px, 200px) scale(0.5, 0.2) rotate(-355deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0);
  }
}
@keyframes lines3 {
  0% {
    transform: translate(-160px, 20px) scale(0.21) rotate(300deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0);
  }
}

.dots__1 {
  transform: translate(-120px, 220px) scale(0.2);
  animation: dots1 0.6s 2s forwards;
}
.dots__2 {
  transform: translate(-240px, 280px) scale(0.2);
  animation: dots2 0.8s 2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}
.dots__3 {
  transform: translate(-210px, 30px) scale(0.1);
  animation: dots3 0.75s 2s forwards;
}
.dots__4 {
  transform: translate(-280px, 40px) scale(0.1);
  animation: dots4 0.8s 2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}

@keyframes dots1 {
  0% {
    transform: translate(-120px, 220px) scale(0.2);
  }
  100% {
    transform: translate(0, 0) scale(1.1);
  }
}
@keyframes dots2 {
  0% {
    transform: translate(-240px, 280px) scale(0.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes dots3 {
  0% {
    transform: translate(-210px, 30px) scale(0.1);
  }
  100% {
    transform: translate(0, 0) scale(0.95);
  }
}
@keyframes dots4 {
  0% {
    transform: translate(-280px, 40px) scale(0.1);
  }
  100% {
    transform: translate(0, 0) scale(1.1);
  }
}
.confetti-fig {
  margin: 1rem auto;
  width: 100px;
  text-align: center;
}
.reflect {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.confetti-fig svg {
  color: #90cdfe;
}

.confetti-fig svg:not(:root) {
  overflow: hidden;
}

.confetti-fig svg {
  display: inline-block;
  transform: translateX(0);
  width: 100%;
  height: 100%;
  vertical-align: middle;
  box-sizing: content-box;
  margin-bottom: 0.5rem;
}

.grid {
  display: flex;
}
.end-msg {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 2rem;
}

@media only screen and (max-width: 590px) {
  .end-msg {
    font-size: 1rem;
  }
}

/****
Email svg

 ****/

#svg-envelope-animate {
  width: 100px;
  margin: 2rem;
}
#svg-envelope-animate #paper {
  transform: translateY(10px) translateX(3px);
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  -webkit-animation-name: moveup;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
}
/* #svg-envelope-animate:hover #paper {
  transform: translateY(3px) translateX(3px);
} */

@-webkit-keyframes moveup {
  0% {
    transform: translateY(10px) translateX(3px);
  }
  5%,
  25% {
    transform: translateY(6px) translateX(3px);
  }
  15%,
  35% {
    transform: translateY(3px) translateX(3px);
  }
  45%,
  65% {
    transform: translateY(6px) translateX(3px);
  }
  75% {
    transform: translateY(10px) translateX(3px);
  }
}
.svg-envolope-color {
  fill: #ff7300;
}
#mail-envelope-open-path {
  fill: #ffb662;
}

.verify-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.verify-msg {
  font-size: 1.7rem;
  width: 70%;
  text-align: center;
}

@media only screen and (max-width: 641px) {
  .verify-msg {
    font-size: 1.3rem;
    width: 100%;
  }
}
